<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VMS | Vehicle Details</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        #updvehicleid{
            margin-left: 20px;
        }
        .updatehead{
            margin-left:540px;
        }
        h2{
            margin-left:100px;
        }
    </style>
</head>
<body>
    <div class="data shadow p-3 rounded w-50 mx-auto m-2">
        <h1 class='heading text-center text-primary my-4'>Vehicle Information</h1>
        <h4 class="head4">Vehicle Purchase Order Number: </h4><span>{{vehicle_data.po_number}}</span><br>
        <h4 class="head4">Vehicle Delivery Challan Number: </h4><span>{{vehicle_data.delivery_challan_number}}</span><br>
        <h4 class="head4">Vehicle Checked by: </h4><span>{{vehicle_data.checked_by}}</span><br>
        <h4 class="head4">Vehicle Check Date: </h4><span>{{vehicle_data.check_date}}</span><br>
        <h4 class="head4">Vehicle Check Time: </h4><span>{{vehicle_data.check_time}}</span><br>
        <h4 class="head4">Vehicle Inspection Passed: </h4><span>{{vehicle_data.inspection_passed}}</span><br>
        <h4 class="head4">Vehicle Inspection Type: </h4><span>{{vehicle_data.inspection_type}}</span><br>
        <h4 class="head4">Vehicle Remarks: </h4><span>{{vehicle_data.remarks}}</span><br>
        <h4 class="head4">Vehicle Inspection Details: </h4><span>{{vehicle_data.inspection_details}}</span><br>
        <h4 class="head4">Vehicle Defect Found: </h4><span>{{vehicle_data.defects_found}}</span><br>
        <h4 class="head4">Vehicle Corrective Actions: </h4><span>{{vehicle_data.corrective_actions}}</span><br>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2>Update Vehicle Details</h2>
                <form action="{% url "updvehicle" vehicle_data.pk  %}" method='POST'>
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="vehicle_checked_by">Vehicle Checked by:</label>
                        <input type="text" class="form-control" name="vehicle_checked_by" id="vehiclechecktime">
                    </div>
                    <div class="form-group">
                        <label for="vehiclechecktime">Vehicle Check time:</label>
                        <input type="time" class="form-control" name="vehiclechecktime" id="vehiclechecktime">
                    </div>
                    <div class="form-group">
                        <label for="vehiclecheckdate">Vehicle Check Date:</label>
                        <input type="date" class="form-control" name="vehiclecheckdate" id="vehiclecheckdate"/>
                    </div>
                    <div class="form-group">
                        <label for="vehicleinspection">Vehicle Inspection Passed:</label>
                        <input type="checkbox" name="vehicle_inspection" id="vehicleinspection">
                    </div>
                    <div class="form-group">
                        <label for="remarks">Remarks:</label>
                        <textarea row='10' class="form-control" name="remarks" id="remarks"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="isnpectiontype">Inspection Type:</label>
                        <textarea row='10' class="form-control" name="isnpectiontype" id="isnpectiontype"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="vehicleisnpectiondetails">Vehicle Inspection Details:</label>
                        <textarea row='10' class="form-control" name="vehicle_inspection_details" id="vehicleisnpectiondetails"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="correctiveactions">Corrective Actions:</label>
                        <textarea row='10' class="form-control" name="correctiveactions" id="correctiveactions"></textarea>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Update Vehicle">
                    {% comment %} <a href="{% url "updvehicle" %}" class="btn btn-primary" id='updvehicleid'>Update Vehicle</a> {% endcomment %}
                </form>
            </div>
        </div>
    </div>
</body>
</html>
